/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #0020f4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
